<h1>What's Your Name?</h1>
<form action="/name" method="post">
  <label for="player_1_name">
    Enter name
    <input type="text" name="player1"/>
  </label>
  <input type="submit" value="Lets Play!"/>
</form>
