<h1>Who's Playing?</h1>
<form action="/names" method="post">
  <label for="player_1_name">
    Player one's name?
    <input type="text" name="player1"/>
  </label>
  <lable for="player_2_name">
    Player two's name?
    <input type="text" name="player2"/>
  </lable>
  <input type="submit" value="Lets Play!"/>
</form>
