<h1>Rock Paper Scissors!</h1>
<h2>One Or Two Players?</h2>

<form action="/get_name">
  <input type="submit" value="1p"/>
</form>

<form action="/get_names">
  <input type="submit" value="2p"/>
</form>
