
<%= @game.player1.name %> Vs. <%= @game.player2.name %>

<br>
<%= @game.array[0].name %>
<br>
<%= @game.array[1].name %>
<form action="/attack_rock">
  <input type="submit" value="Rock"/>
</form>
<form action="/attack_paper">
  <input type="submit" value="Paper"/>
</form>

<form action="/attack_scissors">
  <input type="submit" value="Scissors"/>
</form>

<br>
